@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  margin: 0;
  background-color: #f2f6f8;
  min-width: 311px;
}

.load {
  display: none;
}

.header-city {
  backdrop-filter: blur(20px);
  z-index: 10;
  background-color: #0a0a0acc;
  border-bottom: 1px solid #ffffff14;
  width: 100%;
  height: 89px;
  position: fixed;
}

.cityHeader {
  margin-bottom: 0;
  height: 600px;
  max-height: 700px;
}

.flag {
  position: absolute;
  right: 50px;
  z-index: 3;
  top: 88px;
  right: 50px;
  width: 120px;
  border-radius: 8px;

}


.country-info {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 15px;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 48px auto;
  width: 55%;
}

.city-text-info {
  margin-top: 20px;
  text-align: center;
  padding: 0 10%;
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: #444;
}




.backgroundImg {
  height: 600px;
  width: 100%;
  filter: brightness(0.7);
  margin: 0;
}

.cityName {
  position: relative;
  bottom: 148px;
  left: 4%;
  color: white;
  font-size: 4rem;
  font-family: "Grandstander", cursive;
  width: fit-content;
}

.cityBackground {
  height: 250px;
  width: 100%;
  background: #ff904d;
  display: inline-block;
  align-items: center;
  backdrop-filter: blur(20px);
}

.weather-phone-size {
  display: none;
  height: 26rem;
  background-image: url("../media/waetherImg.avif");
  background-repeat: round;
}

.rain {
  background-image: url("../media/rain.webp");
  background-repeat: round;
  display: none;
  height: 26rem;
}

.city-text-info {
  position: relative;
  bottom: 150px;
  width: 85%;
  text-align: center;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.header-city-text {
  margin-left: 20px;
  font-size: 40px;
}

.highlited {
  color: #ff914d;
  font-family: "Open Sans", sans-serif;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  gap: 70px;
  margin-bottom: 100px;
}

.todo-sec {
  border: 2px solid black;
  width: 300px;
  height: 344px;
  border-radius: 20px;
}

.to-do-image {
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 200px;
}

.todo-title {
  background-color: #ff914d;
  margin-top: 0;
  padding: 13px;
  position: relative;
  bottom: 4px;
  color: white;
}

@media screen and (max-width: 743px) {
  .weather-phone-size {
    display: block;
  }
  .cityName {
    font-size: 3.5rem;
  }

  .cityBackground {
    height: 271px;
  }
  .city-text-info {
    bottom: 180px;
  }
}

@media screen and (max-width: 624px) {
 
  .city-text-info {
    bottom: 200px;
  }

  .cityName {
    bottom: 135px;
    font-size: 3rem;
  }
  

}

@media screen and (max-width: 558px) {
  .cityBackground {
    height: 250px;
  }
  .city-text-info {
    bottom: 17rem;
    font-size: 1rem;
  }

  .flag {
    right: 9px;
    width: 100px;
    top: 87px;
  }

  .country-info {
    font-size: 13px;
  }
}
@media screen and (max-width: 373px) {
  .cityBackground {
    height: 245px;
  }
  .city-text-info {
    font-size: 0.85rem;
  }
  .cityName {
    font-size: 2rem;
    bottom: 95px;
  }
}






